next-version: 1.0.0
mode: Mainline
branches:
  main:
    regex: main
    tag: ""
    increment: Patch
    prevent-increment-of-merged-branch-version: true
    track-merge-target: false
    tracks-release-branches: false
